button {
    background-image: linear-gradient( #78e47c,#4CAF50);
    border: none;
    color: black;
    border-radius: 6px;
    padding: 10px;
}
button:hover {
    background-image: linear-gradient( #9ff0a2,#6fc573);
}
button:active {
    background-image: linear-gradient( #4CAF50,#78e47c);
}